article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*button animation effect*/
@-webkit-keyframes buttonPress {
   0%{z-index:10;box-shadow:0 7px 0 rgba(0,0,0,0.3),0 0 0 0 rgba(255,255,255,0);}
  60%{box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0.2);}
  80%{box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0.2);}
  100%{z-index:10;box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0);}
}

@-moz-keyframes buttonPress {
   0%{z-index:10;box-shadow:0 7px 0 rgba(0,0,0,0.3),0 0 0 0 rgba(255,255,255,0);}
  60%{box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0.2);}
  80%{box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0.2);}
  100%{z-index:10;box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0);}
}

@-o-keyframes buttonPress {
   0%{z-index:10;box-shadow:0 7px 0 rgba(0,0,0,0.3),0 0 0 0 rgba(255,255,255,0);}
  60%{box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0.2);}
  80%{box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0.2);}
  100%{z-index:10;box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(255,255,255,0);}
}

@keyframes buttonPress {
  0%{z-index:10;box-shadow:0 7px 0 rgba(0,0,0,0.3),0 0 0 0 rgba(149,165,166,0);}
  60%{box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 10px 60px rgba(149,165,166,0.2);}
  80%{box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 0 60px rgba(149,165,166,0.2);}
  100%{z-index:10;box-shadow:0 7px 0 rgba(0,0,0,0.3), 0 0 10px 60px rgba(149,165,166,0);}
}

body {
  overflow: hidden;
  font-size:20px;
  font-family: 'Open Sans', 'Montserrat', sans-serif;
  margin:0;
  color:#ECF0F1;
}

.wrapper {
  width:100vw;
  height:100vh;
  position: relative;
  background: rgba(52,73,94,0.7);
  overflow: hidden;
}

.wrapper:after {
  content: "";
  position: absolute;
  background-image: url("../img/jobsImage2.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#container-outer {
  /*overflow: scroll;*/
  position: absolute;
  top:15vh;
  width:95vw;
  height:65vh;
  overflow:hidden; 
}

#container {
  position: relative;
  top:0;
  left:5vw;
  width:100vw;
  height: auto;
  overflow: scroll;
  opacity: 1;
}

/*#container-outer::-webkit-scrollbar { width: 0 !important }*/

.container-secondary {
  position: absolute;
  width:80vw;
  height:15vh;
  left:5vw;
  bottom:10vh;
}

#boardTitle {
  position: absolute;
  left:15vw;
  top:4.5vh;
  text-align: center;
}


.headerIcon {
  position: absolute;
  width:12%;
  left:2vh;
  top:2vh;
}

#background  {
  position: absolute;
  left:0;
  right:0;
  padding:0;
  z-index: -1;
}

#background img {
  height:100vh;
  width:100vw;
  
}

h1 {
  font-family: "Montserrat";
  font-size: 4.2vw;
  font-weight: 700;
  color:#ECECEC;
  text-transform: uppercase;
  margin-top:20px;
  letter-spacing: 7px;
}

/*.rows {display: none;}*/

.rows {
  display: block;
  position: relative;
  top:5vh;
  /*float:left;*/
  max-width: 100vw;
  width:100%;
  padding:0 10vw;
  height:80vh;
}

table {
  font-family: 'Open Sans', sans-serif;
  padding:40px;
}

tbody{
  height:80vh;
}
  
tr {
  height:777px;
}
td {
  padding-bottom: 5px;
  color:#ECF0F1;
  font-weight: 400;
  font-size: 2vw;
  text-shadow:1px 1px 0 rgba(0,0,0,0.5);
}

thead {
  display:none;
}
 
.rows td:nth-child(1) {
  display: block;
  clear:both;
  font-size: 5.5vw;
  color:#ECF0F1;
  font-weight: 300;
  line-height: 5.1vw;
  padding-bottom: 2vh;
  text-transform: uppercase;
  border-bottom: 2px solid #BDC3C7;
  width:80%;
}
  
.rows td:nth-child(2) {
  display: block;
  clear:both;
  font-size:3vw;
  font-weight: 600;
  color:#ECF0F1;
}
  
.rows td:nth-child(3) {
  display: block;
  width:48vw;
  height:auto;
  clear:both;
  padding-top: 20px;
}
  
.rows td:nth-child(3)::before {
  content: "Summary: ";
  font-weight: 600;
  text-transform: uppercase;
  color:#BFBFBF;
}
  
.rows td:nth-child(4) {
  display: block;
  clear:both;
}
  
.rows td:nth-child(4)::before {
  content: "Wage: ";
  font-weight: 600;
  text-transform: uppercase;
  color:#BFBFBF;
}
  
.rows td:nth-child(5) {
  display: block;
  clear:both;
}
  
.rows td:nth-child(5)::before {
  content: "Posted: ";
  font-weight: 600;
  text-transform: uppercase;
  color:#BFBFBF;
}
  
.rows td:nth-child(6) {
  display: block;
  clear:both;
}
  
.rows td:nth-child(6)::before {
  content: "Due Date: ";
  font-weight: 600;
  text-transform: uppercase;
  color:#BFBFBF;
}
  
.rows td:nth-child(7) {
  display: block;
  clear:both;
  color:#1BBC9B;
}
  
.rows td:nth-child(7)::before {
  content: "Ref. No.: ";
  font-weight: 600;
  text-transform: uppercase;
  color:#BFBFBF;
}
  
    
td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
  position: relative;
  left:28vw;
  top:-8vh;
}

.buttonUp {
  position: absolute;
  z-index:9999;
  width:7vh;
  height:7vh;
  border-radius: 50%;
  background-color: #1BBC9B;
  right:5vw;
  bottom:38vh;
  box-shadow:0px 7px 0px rgba(0,0,0,0.2),0px 0px 0px 0px rgba(149,165,166,0.8);
}

.buttonUp:before {
  content:"";
  position: absolute;
  width:5vh;
  height:1vh;
  border-radius: 4px;
  background-color: #ECF0F1;
  left:1vh;
  top:3vh;
}

.buttonUp:after {
  content:"";
  position: absolute;
  width:1vh;
  height:5vh;
  border-radius: 4px;
  background-color: #ECF0F1;
  left:3vh;
  top:1vh;
}

.buttonDown {
  position: absolute;
  z-index:9999;
  width:7vh;
  height:7vh;
  border-radius: 50%;
  background-color: #EF4836;
  right:5vw;
  bottom:28vh;
  box-shadow:0px 7px 0px rgba(0,0,0,0.2),0px 0px 0px 0px rgba(149,165,166,0.8);
}

.buttonDown:before {
  content:"";
  position: absolute;
  width:5vh;
  height:1vh;
  border-radius: 4px;
  background-color: #ECF0F1;
  left:1vh;
  top:3vh;
}

.buttonPressed {
 -webkit-animation: buttonPress 0.6s linear forwards;
 -mos-animation: buttonPress 0.6s linear forwards;
 -o-animation: buttonPress 0.6s linear forwards;
 animation: buttonPress 0.6s linear forwards;
}

.secondBody {
  height:40px;
  position: relative;
}

.secondRows:nth-child(1) td {
  position: absolute;
  font-family: "Montserrat";
  top:5vh;
  left:8vw;
  font-weight:600;
  font-size: 3.2vw;
  letter-spacing: 3px;
  color:#ECECEC;
  text-transform: uppercase;
}

.secondRows:nth-child(2) td {
  position: absolute;
  top:12vh;
  left:8vw;
  font-size: 2vw;
  font-weight:400;
  width:80vw;
  color:#ECECEC;
}

.teal-text {
  color:#1BBC9B;
}


